<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="C:/Users/Julia/IdeaProjects/SeleniumWeb_TestNg_Allure">
        <classes>
            <class name="tests.searchCar.SearchCarTest"></class>
            <class name="tests.calculatePayment.CalculatePaymentTest"></class>
        </classes>
    </test>
    <listeners>
      <!--  <listener class-name="listeners.AllureListener"></listener> -->
    </listeners>
</suite>